<!DOCTYPE html>
<html lang="en">
<head>
    <title>User List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Optional custom styling */
        .container {
            margin-top: 20px;
        }

        .user-list {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>User List</h2> 
        <ul class="list-group user-list">
            {% for user in users %}
            <li class="list-group-item">{{ user }}</li>
            {% endfor %}
        </ul>
        
        <p class="lead">Test</p> 
    </div>
</body>
</html>
